[Desktop Entry]
Name=Emoji Picker
GenericName=Emoji Picker
Comment=On-screen emoji mini-keyboard
Exec=emoji-picker
Terminal=false
Type=Application
Icon=face-smile
Categories=Utility
#X-GNOME-Autostart-enabled=true
Actions=Keyboard;Search;Prefs;

[Desktop Action Keyboard]
Name=Show Keyboard
Exec=emoji-picker --toggle-keyboard

[Desktop Action Search]
Name=Search
Exec=emoji-picker --toggle-search

[Desktop Action Prefs]
Name=Preferences
Exec=emoji-picker --preferences
